@import "configs";
@import "mixins";
@import "app/header";
@import "app/image-list";
@import "app/image-list-item";
@import "app/detail";
@import "app/spinner";

* {
  @include box-sizing(border-box);
}

html,
body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

body {
  background: darken($background-color, 3%);

  &.detail-open {
    overflow: hidden;
  }
}

a {
  color: $link-color;
}
