.header {
  padding: 10px 50px;
  margin-bottom: 5px;
  position: fixed;
  width: 100%;
  z-index: 300;
  background-color: $background-color;
  height: 60px;
  border-bottom: 1px solid $border-color;
  border-top: 3px solid $link-color;
  @include box-shadow(0, 5px, 25px, black);

  @media (max-width: 380px) {
    padding: 10px 20px;
  }


  h1 {
    margin: 0;
    padding: 0;
    font-family: impact;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 36px;

    @media (max-width: 380px) {
      font-size: 20px;
    }

    a {
      color: $text-color;
      text-decoration: none;
    }
  }
}
