.image-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  top: 65px;
  @include clearfix();

  li {
    float: left;
  }

  li.loader{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    display: none;
    z-index: 100;
    &.loading {
      display: block;
    }
  }
}
